@charset "UTF-8";

.ban-sub{
    height:212px;
    background:url(../images/banner_sub.jpg) no-repeat 0 0;
}
.ban-sub-txt{
    top:66px;
    left:0;
}
.hanbger{
    height:66px;
    background:#fff;
    margin-top:-20px;
}
.han-links{
    padding-left:20px;
    height:66px;
    line-height:66px;
}
.han-links a{
    color:#999;
}
.han-links a.cur{
    color:#333;
}
.tit-date{
    width:56px;
    height:46px;
    background:#014297;
    text-align:right;
    color:#fff;
    padding:10px 5px;
}
.tit-date-day{
    font-size:20px;
    line-height:26px;
}

.left-nav{
    width:240px;
    padding:20px 0;
    background:#fff;
}
.left-nav ul li{
    height:42px;
    line-height:42px;
    margin-top:1px;
}
.left-nav ul li a{
    display:block;
    padding:0 20px;
    font-size:14px;
    color:#666;
}
.left-nav ul li a:hover,
.left-nav ul li.cur a{
    background:#1d82cf;
    color:#fff;
}

.nav-ic{
    display:inline-block;
    width:8px;
    height:42px;
    background:url("../images/ic_nav.png") no-repeat 0 0;
}
.left-nav ul li a:hover span.nav-ic,
.left-nav ul li.cur a span.nav-ic{
    background-position:-9px 0;
}

.right-con{
    background:#fff;
    width:700px;
    padding:20px;
}

.news-group2 ul li{
    height:24px;
    line-height:24px;
    margin:10px 0;
}
.news-group2 ul li a{
    display:inline-block;
    width:590px;
    height:24px;
    overflow:hidden;
    color:#666;
}
.news-group2 ul li span{
    color:#999;
}
.news-group2 ul li a:hover{
    text-decoration:underline;
    color:#1d82cf;
}

.pages ul li{
    display:inline-block;
    width:26px;
    height:26px;
    line-height:26px;
    color:#666;
    border:1px solid #ccc;
}
.pages ul li a{
    display:block;
    color:#666;
}
.pages ul li a:hover,
.pages ul li.cur a{
    background:#ccc;
    color:#333;
}


.news-sub{
    width:630px;
    margin:0 auto;
    padding:20px 0;
    text-align:center;
}
.news-sub img{
    width:530px;
}
.news-sub h3{
    font-size:16px;
}
.news-sub p{
    margin-top:10px;
    color:#666;
    line-height:24px;
}
.news-sub p.text{
    text-align:left;
}


/*免疫信息*/

.dwmy-img{
    width:240px;
    height:300px;
    border:1px solid #ccc;
}
.dwmy-img img{
    width:240px;
    height:300px;
}
.dwmy-con {
    width:400px;
    background:#fff;
}
.my-list p{
    line-height:24px;
    color:#666;
}
.yy-map{
    height:300px;
}
.map-s{
    top:30px;
    left:50%;
    margin-left:-180px;
}
.yy-img{
    width:300px;
    height:168px;
    border:1px solid #ccc;
}
.yy-img img{
    width:300px;
    height:168px;
}
.yy-con{
    width:380px;
}

/*统计分析*/
.tjfx-box{
    height:320px;
    overflow:hidden;
    margin-top:20px;
    border:1px solid #ccc;
}
.tjfx-box .tcenter{
    top:20px;
    left:50%;
    margin-left:-20px;
}

/*关于我们*/
.tablist ul li{
    margin-top:20px;
}
.tablist ul li label{
    display:inline-block;
    width:120px;
    height:32px;
    line-height:32px;
    text-align:right;
    color:#666;
}
.border{
    border: 1px solid #ccc;
    padding:0 10px;
}
.border input{
    height:32px;
    line-height:32px;
    border:0;
}
.txt-more{
    width:500px;
    height:240px;
    padding:10px 0;
    resize:none;
    border:0;
}
.input2{
    width:500px;
}
.input2 input{
    width:480px;
}
.btn-group{
    padding-left:120px;
}
.btn{
    display:inline-block;
    width:120px;
    height:36px;
    text-align:center;
    line-height:36px;
}
.btn-sure{
    color:#fff;
    background:#0066FF;
}
.btn-cannce{
    color: #333;
    background:#ccc;
}

.upload-grp a{
    display:inline-block;
    width:66px;
    height:66px;
    text-align:center;
    border:1px solid #ccc;
    margin-right:10px;
    color:#666;
    overflow:hidden;
    float:left;
}
.upload-grp a img{
    width:66px;
    height:66px;
}
.upload-grp a span{
    display:block;
}
.ic-up{
    width:22px;
    height:22px;
    margin:15px auto 0;
    background:url("../images/ic_upload.png") no-repeat 0 0;
}